@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
p,a,li,td,input,label{
    font-family: 'Work Sans', sans-serif;
}



.navbar-brand{
    color:black !important;
    font-size: 15px !important;
    
}
.nav-item{
    font-size: 20px !important;
    margin-left: 170px;
}

